.quizStart__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.quizStart__header {
  text-align: center;
}

.quizStart__content {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.quizStart__info {
  border: 2px solid black;
  flex-basis: 15%;
}

.quizStart__scores {
  border: 2px solid black;
  flex-basis: 70%;
}

.quizStart__table-wrapper {
  width: 80%;
  margin: 0 auto;
}

table {
  width: 100%;
  border: 2px solid black;
}
