html,
body,
#root {
  height: 100%;
}

.quiz__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.quiz__content {
  border: 2px solid black;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  min-height: 90%;
}

.quiz__questionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz__buttons {
  display: flex;
  justify-content: space-between;
}

.quiz__buttons button {
  font-size: 1.5rem;
}

.quiz__medias {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img,
video {
  max-width: 100%;
}

.quiz__media {
  width: 100%;
  text-align: center;
  max-width: 300px;
}

.quiz__question {
  text-align: center;
}

.quiz__options {
  width: 70%;
  margin: 5rem 0;
  text-align: center;
}

.quizOption {
  border: 2px solid black;
  padding: 5px;
  margin: 3px 0;
  transition: background-color 200ms linear;
  cursor: pointer;
}

.quizOption__selected {
  background-color: rgb(68, 65, 114);
  color: white;
}

.quiz__info {
  display: flex;
  justify-content: space-between;
  width: 65%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
