.quiz__buttons {
  display: flex;
  justify-content: space-between;
}

.quiz__buttons button {
  font-size: 1.5rem;
}

img,
video {
  max-width: 100%;
}

.quiz__media {
  width: 100%;
  text-align: center;
  max-width: 300px;
}

.quiz__question {
  text-align: center;
}


