.contacts__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.contacts__title {
  text-align: center;
}

.contacts__content {
  border: 2px solid black;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: auto;
}

.contacts__contacts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.contacts__contact {
  border: 1px solid black;
  flex-basis: 50%;
  font-size: 1.5rem;
}
