html,
body,
#root,
.quiz__wrapper {
  height: 100%;
}

.quiz__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz__content {
  border: 2px solid black;
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}

.quiz__options {
  width: 70%;
}

.quizOption__wrapper {
  border: 2px solid black;
  padding: 5px;
  margin: 3px 0;
}
